
html,body { margin: 0; padding: 0; }
body,td,th { font-family: "Courier New",monospace; font-size: 10pt; }

.wrapper { max-width: 778px; margin: 0 auto; padding: 5px 10px; }

h1 a:link{ text-decoration: none; color:#ffffff !important; }
h1 a:visited{ text-decoration: none; color:#ffffff !important; }

#header {
  background: #444;
  background-image: linear-gradient(bottom, rgb(46,45,46) 0%, rgb(82,82,82) 100%);
  background-image: -o-linear-gradient(bottom, rgb(46,45,46) 0%, rgb(82,82,82) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(46,45,46) 0%, rgb(82,82,82) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(46,45,46) 0%, rgb(82,82,82) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(46,45,46) 0%, rgb(82,82,82) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(46,45,46)),
    color-stop(1, rgb(82,82,82))
  );
}
#header h1 { margin: 5px 0; color: #fff; text-shadow: 3px 3px 5px #000; }
#header .sysmenu { float: right; color: #aaa; margin: 10px 0 0 0; }
#header .sysmenu a { color: #eee; }

#nav { background: #eee; font: status-bar; font-size: 8pt; height: 32px; border-bottom: 1px solid #ddd; }
#nav .wrapper { padding: 5px 0; }
#nav ul, #nav li { margin: 0; padding: 0; list-style-type: none; }
#nav li a { display: block; float: left; padding: 5px 10px 5px 10px; color: #444; text-decoration: none; }
#nav li a:hover { color: #000; text-decoration: underline; }
#nav li a.current { color: #000; background: white; text-decoration: underline; border: 1px solid #ddd; border-bottom: 0; padding: 7px 9px 7px 9px; }

th { text-align: left; }

#footer { color: #777; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #eee; padding: 5px 0; font: status-bar;  }

